{% extends 'gallery.html.twig' %}  

{% block navbar %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>&nbsp;Login</a>
    </li> 
{% endblock %}

{% block container %} 
    <div class="page-content py-5">
        <div class="container">
            <div class="pp-container-readable">
                <div class="pp-post"> 
                {{ form_start(registrationForm) }}
                    <fieldset id="fieldset">
                    <legend id="legend"><a class="h3" href="#">Registeration Form</a></legend>
                    <dl>
                        <table>
                            <tr>
                                <th>Email</th><td>{{ form_widget(registrationForm.email) }}</td>
                            </tr> 
                                {% if form_errors(registrationForm.email) %} 
                                    <tr class="error">
                                        <th></th><td>{{ form_errors(registrationForm.email) }}</td>
                                    </tr>
                                {% endif %}
                            <tr>
                                <th>Username</th><td>{{ form_widget(registrationForm.username) }}</td>
                            </tr>
                                {% if form_errors(registrationForm.username) %} 
                                    <tr class="error">
                                        <th></th><td>{{ form_errors(registrationForm.username) }}</td>
                                    </tr>
                                {% endif %}
                            <tr>  
                                <th>Fullname</th><td>{{ form_widget(registrationForm.name) }}</td>
                            </tr>
                                {% if form_errors(registrationForm.name) %} 
                                    <tr class="error">
                                        <th></th><td>{{ form_errors(registrationForm.name) }}</td>
                                    </tr>
                                {% endif %}
                            <tr>
                                <th>Password</th><td>{{ form_widget(registrationForm.plainPassword, {label: 'Password'})}}</td>
                            </tr> 
                                {% if form_errors(registrationForm.plainPassword) %} 
                                    <tr class="error">
                                        <th></th><td>{{ form_errors(registrationForm.plainPassword) }}</td>
                                    </tr>
                                {% endif %}
                            <tr>    
                                <th></th><td><em>{{ form_row(registrationForm.agreeTerms) }}</em></td>
                            </tr> 
                                {% if form_errors(registrationForm.agreeTerms) %} 
                                    <tr class="error">
                                        <th></th><td>{{ form_errors(registrationForm.agreeTerms) }}</td>
                                    </tr>
                                {% endif %}
                            <tr>    
                                <th></th><td align="right"><button class="btn btn-primary" type="submit">Register</button></td>
                            </tr>   
                            {{ form_end(registrationForm) }}
                        </table> 
                    </dl>
                </form> 
                </div>
            </div>
        </div> 
    </div> 
    <style>  
        .error {
            color: red;  
        } 
        ul, li {
            list-style: none;
            padding: 0;
        }
        #fieldset {
            border: dashed black 1px; 
            border-radius: 5px;
        }
        #legend {
            width: auto;
            margin-left: 2rem;
        } 
        table {
            margin: auto;
            width: 90%;
        } 
        th { 
            padding: 0.5rem 0 0 0;
            width: 20%;
        }   
        td {
            padding: 0.5rem 0 0 0;
        } 
        input[type='checkbox'] {
            accent-color: black;
            margin-left: 0.5rem; 
        }  
        #registration_form_email, #registration_form_name, #registration_form_username, #registration_form_plainPassword{
            width: 100%;
            height: 1.75rem; 
            padding: 0 0.5rem 0 0.5rem; 
        } 
        button {
            border-radius: 2px;
            padding: 0.2rem 1rem; 
            background-color: white;
            border: solid 2px #917c55;
            color:  black;
        }
        button:hover, button:active { 
            background-color: #BBAA8B;
            color: white;  
            border: solid 2px black;
        } 
    </style>
{% endblock %}
