{% extends 'gallery.html.twig' %} 

{% block container %}
    <div class="page-content">
        <div class="container">
            <div class="pp-section pp-container-readable my-style">
                <div class="pp-post">
                    <a class="h3 name" href="#">{{ artwork.getName() }}</a>
                    <div class="pp-post-meta mt-2">
                        <ul class="relative">
                            <li>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span>{{ artwork.getCompletionDate()|date('F d, Y') }}</span>
                            </li>
                            <li>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <a href="#">{{ artwork.getArtist().getName() }}</a>
                            </li>
                            <li>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <a href="#">{{ artwork.getTotalViews() }} views</a>
                            </li>
                            <li>
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                <a href="#">{{ artwork.getLikes() | length }} likes</a> 
                            </li>
                            <li>
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <a href="#pp-comment">{{ artwork.getComments() | length }} comments</a>
                            </li>
                            {% if liked %}
                                <a href="{{path('unlike',{id:artwork.getId()})}}" class="btn btn-secondary active absolute liked">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;Liked
                                </a>
                            {% else %}
                                <a href="{{path('like',{id:artwork.getId()})}}" class="btn btn-secondary absolute">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;Like
                                </a>
                            {% endif %}
                        </ul>
                    </div>
                {% if artwork.getArtworkFilePath() %}
                    <img class="img-fluid mt-3" src="{{artwork.getArtworkFilePath()}}" alt="{{artwork.getName()}}" />
                {% else %}
                    <img class="img-fluid mt-3" src="{{artwork.getArtworkUrl()}}" alt="{{artwork.getName()}}" />
                {% endif %}
                </div>
                <div class="pp-blog-details">
                    {{ artwork.getDescription() | raw }}
                    <div class="pp-tags">
                        {% if artwork.getCategory() | length %}
                            <div class="h6"><strong>Categories</strong></div>
                            {% for category in artwork.getCategory() %} 
                                <a class="badge badge-primary" href="#">{{category.getName()}}</a>
                            {% endfor %} 
                        {% endif %}
                    </div> 
                    <div class="pp-comments" id="pp-comment">
                    <div class="h2">Comments Room</div>
                        {% if artwork.getComments()|length %}
                            {% for comment in artwork.getComments()|reverse %}
                                <div class="media">
                                    <img class="img-fluid mr-3" src="{{asset('/images/default-avt.jpg')}}" alt="Avatar" />
                                    <div class="media-body">
                                        <div class="h5 mt-0">{{ comment.getUser() }}</div>
                                        <p class="text-muted">{{ comment.getCommentTime | date('M d, Y - h:ia')}}</p>
                                        <p>{{comment.getContent() | raw}}</p>
                                    </div>
                                    <a href="#pp-drop-comment">
                                        <i class="fa fa-reply" aria-hidden="true"></i>
                                        <span>Reply</span>
                                    </a>
                                </div> 
                            {% endfor %}
                        {% else %}
                            {% if isLogined %}
                                <p>There haven't any comments yet. Be the first to do it! 💕</p>
                            {% else %}
                                <p>There haven't any comments yet. Be the first to do it by <a href="{{path('app_login')}}">login</a>! 💕</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="pp-section"></div>
                <div class="row" id="pp-drop-comment">
                    <div class="col">
                    {% if app.user %}
                        <div class="h4 mb-3">Hey <a href="#">{{app.user.name}}</a>, let drop a comment to this Artwork!~</div>
                        {{form_start(form)}} 
                            <div class="row mb-3">
                                <div class="col">
                                    {{ form_widget(form.Content) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" align="right">
                                    {{ form_widget(form.save,{'attr': {'class':'btn btn-primary'} }) }}
                                </div>
                            </div>
                        {{form_end(form)}}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="pp-section"></div>
        </div>
    </div> 
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>
    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#{{form.Content.vars.id}}'),
            {
                updateSourceElementOnDestroy: true
            })
            .then(newEditor => {editor = newEditor;}) 
            .catch(error => {console.error(error);}); 
        document.querySelector('#{{form.save.vars.id}}').addEventListener( 'click', () => {
            document.querySelector('#{{form.Content.vars.id}}').value = editor.getData();
        });
    </script>
    <style>
        .relative {
            position: relative;
        }
        .absolute {
            position: absolute;
            top: -0.5rem;
            right: 0;
        }   
        .ck-editor__editable_inline {
            height: 100px;
        }  
        .my-style {
                max-width: 1000px;
        }
        .name {
            font-weight: 600;
        }
    </style>
{% endblock %}