{% extends 'gallery.html.twig' %}

{% block heading %}
    <div class="container pp-section">
        <div class="row">
            <div class="col-md-9 col-sm-12 px-0">
                <h1 class="h3">{{app.user.name}}'s Manager</h1> 
                <h6>We provide structural functions to manage your gallery.</h6>
                <br>
                <h6>
                    <a href="{{path('my_gallery')}}" class="btn btn-secondary"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;View my gallery</a>   
                    <a href="{{path('manage')}}" class="btn btn-secondary active"><i class="fa fa-magic" aria-hidden="true"></i>&nbsp;Manage my gallery</a> 
                    <a href="{{path('add_artwork')}}" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add new artwork</a> 
                    <button class="btn btn-secondary" onclick="myManual()"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;View manual</button>
                </h6>
            </div> 
        </div>
    </div>
{% endblock %}

{% block display %}
    <br>
    <div class="container px-0">
        <div class="pp-gallery" id="align"> 
            {% if artworks %}
                <table class="center">  
                    <tr>
                        <th>Order</th>
                        <th>Artwork Name</th>
                        <th>Completion Date</th>
                        <th>Views</th> 
                        <th>Likes</th> 
                        <th>Comments</th> 
                        <th>State</th> 
                        <th>Preview</th>
                        <th>Actions</th>
                    </tr> 
                    {% set count = id*10 %}
                    {% for i in (id*10)..((id*10)+9) %}
                        {% if i in (0..(artworks|length - 1)) %}  
                            {% set count = count + 1 %}
                            <tr>
                                <td>{{count}}</td>
                                <td><a href="{{path('artwork',{id:artworks[i].getId()})}}">{{artworks[i].getName()}}<a></td>
                                <td>{{artworks[i].getCompletionDate()|date('M d, Y')}}</td>
                                <td>{{artworks[i].getTotalViews()}}</td>
                                <td>{{artworks[i].getLikes()|length}}</td>
                                <td>{{artworks[i].getComments()|length}}</td>
                                {% if artworks[i].isApproved()%}
                                    <td style="color:#1BA710;">Published</td>
                                {% else %}
                                    <td style="color:#FFCC00;">Approving</td>
                                {% endif %}
                                {% if artworks[i].getArtworkFilePath() %}
                                    <td style="color:red;" class="img"><img src="{{artworks[i].getArtworkFilePath()}}" alt="Error"/></td>
                                {% elseif artworks[i].getArtworkUrl() %}
                                    <td style="color:red;" class="img"><img src="{{artworks[i].getArtworkUrl()}}" alt="Error"/></td>
                                {% else %}
                                    <td style="color:red;">Error</td>
                                {% endif %}
                                <td> 
                                    <a href="{{path('edit_artwork',{id:artworks[i].getId()})}}"><button class="btn btn-secondary same">Edit</button></a>
                                    <button class="btn btn-secondary same" onclick='function accept(){if (confirm("Are you sure want to delete the artwork \"{{ artworks[i].getName() }}\"?") === true) {window.location.replace("{{ path( "delete_artwork",{id:artworks[i].getId(),page:id} ) }}");}};accept()'>Delete</button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %} 
                <br><br>
                </table>
                {% if (id*10 + 9 < artworks|length - 1) %}
                    <div>
                        <a class="btn btn-primary float-right" href="{{ path('manage',{id:id+1}) }}">
                            Next Page &rarr;              
                        </a>
                    </div>
                {% endif %}
                {% if (id*10 - 9 > 0) %}
                    <div>
                        <a class="btn btn-primary float-left" href="{{ path('manage',{id:id-1}) }}">
                            &larr; Previous Page            
                        </a>
                    </div>
                {% endif %} 
        {% endif %}
        </div>
        <div class="pp-section"></div>
    </div> 
    <script>
        function myManual() {
            alert('1. Click "Add new artwork" to add new artwork to your gallery.\n    We appreciate providing file over URL.\n2. Click the artwork\'s name to view the specified artwork.\n3. Click "Edit" button to edit the specified artwork.\n4. Click "Delete" button to delete the specified artwork.\n    Be careful, this action cannot be redone.');
        } 
    </script>
    <style>
        .center {
            margin: auto;
        }
        .same {
            width: 5rem; 
        }
        .btn {
            margin: 5px 0.5rem 5px 0;
        }
        .my-style {
            max-width: 1000px;
        }
        .name {
            font-weight: 600;
        }
        table, td, th { 
            border-collapse: collapse;
            border: 2px #6F4E37 solid;
            padding: 10px;
            text-align: center;
        }  
        img {
            width: 8rem;
            height: auto;
        }
    </style>
{% endblock %}